<a href="https://colab.research.google.com/github/Angel-Castro-RC/CS167-Note-1/blob/main/PracticeCode01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=10
b=3.14
c = "machine learning"
d = 'hi'
e = 'x'
f = [1,2,3]
print(a,b,c,d,e,f)

10 3.14 machine learning hi x [1, 2, 3]

It will print all things in one line without comas just the number and text separated by space

In [5]:
print("a's type:", type(a))
a = 'variables can change types'
print("a's type:", type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

a's type: <class 'str'>
a's type: <class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'list'>

Is taking the letters from the code above and give the type of what is is like a is a string and b is a float number and same for the other letters

In [6]:
x = [1,2,3] 
y=x
x[0] = "abc" 
print(y) 
#before you run, what will the value of y[0] be?

['abc', 2, 3]

It will print the abc on the place 0 and print 2,3

In [7]:
z = x[1]
x[1] = "what"
print(x)
print(z)
x.append(70)
x.insert(2,90)
print(x)
#can you predict what will be output?

['abc', 'what', 3]
2
['abc', 'what', 90, 3, 70]

it will print abc, what 3, 

2 

 , and then it [abc, what,90,3, 70,

In [8]:
print( x.index(90) )
print( len(x) )
print( x+x )
#can you predict what will be output?

2
5
['abc', 'what', 90, 3, 70, 'abc', 'what', 90, 3, 70]

it will print 2

then 5

then ['abc', 'what', 90, 3, 70, 'abc', 'what', 90, 3, 70]

In [10]:
#List Slices 

my_list = [33, 55, 'hello','R2D2',7.8,'banana']
print( my_list[1:5] )
print( my_list[:4])
print( my_list[4:])
print( my_list[:])

[55, 'hello', 'R2D2', 7.8]
[33, 55, 'hello', 'R2D2']
[7.8, 'banana']
[33, 55, 'hello', 'R2D2', 7.8, 'banana']

it will print everithing after the 55 which is 1

then it will print before the 4 [33, 55, hello, r2d2]

then print before the number for so the first four [7.8, banana]

then everything

In [11]:
my_slice = my_list[1:5]
my_slice[2] = 'what'
print(my_slice)
print(my_list)
print(my_list[1:5] + 2*['Drake','University'])
my_list[:0] = ['Bulldogs']
print(my_list)
# why isn't "Drake" or "University" printed out in this last line?

[55, 'hello', 'what', 7.8]
[33, 55, 'hello', 'R2D2', 7.8, 'banana']
[55, 'hello', 'R2D2', 7.8, 'Drake', 'University', 'Drake', 'University']
['Bulldogs', 33, 55, 'hello', 'R2D2', 7.8, 'banana']

In [12]:
my_list = [42, 3.14, 'hello', ['ice', 'ice', 'baby']]
print(my_list[3][2])
print(my_list[2][1])
# wait, what? 
# explain what is happening here

baby
e

In [ ]:
my_tuple = (100,200,'300')
print(my_tuple[1])
my_dictionary = {'x':42, 'y':3.14}
print(my_dictionary['x'])

In [ ]:
print(my_list[1][2])
my_tuple[1] = 0
print(my_dictionary[1])

In [ ]:
x = int(input())
if x < 0:
    print("x is negative")
elif x % 2:
    print("x is positive and odd")
else:
    print("x is even and nonnegative")

num_list = [3, 7, 9,17, 2]
for num in num_list:
    print(num)

print(range(10,20))
for n in range(10,20):
    print(n)

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [4]:
path = '/content/drive/MyDrive/CS167/datasets/restaurant.csv' #'dataset/restaurant.csv'
data = pd.read_csv(path) 
print("data is a ", type(data))

data is a  <class 'pandas.core.frame.DataFrame'>

In [5]:
data.head()

   alt  bar  fri  hun   pat price rain  res    type    est target
0  Yes   No   No  Yes  Some   $$$   No  Yes  French   0-10    Yes
1  Yes   No   No  Yes  Full     $   No   No    Thai  30-60     No
2   No  Yes   No   No  Some     $   No   No  Burger   0-10    Yes
3  Yes   No  Yes  Yes  Full     $   No   No    Thai  10-30    Yes
4  Yes   No  Yes   No  Full   $$$   No  Yes  French    >60     No

In [7]:
data.shape

(12, 11)

In [8]:
print(data['price'])

0     $$$
1       $
2       $
3       $
4     $$$
5      $$
6       $
7      $$
8       $
9     $$$
10      $
11      $
Name: price, dtype: object

In [9]:
print(data.loc[3])

alt         Yes
bar          No
fri         Yes
hun         Yes
pat        Full
price         $
rain         No
res          No
type       Thai
est       10-30
target      Yes
Name: 3, dtype: object

Iris Data

In [10]:
data1 = pd.read_csv('/content/drive/MyDrive/CS167/datasets/irisData.csv')
data1.head()

   sepal length  sepal width  petal length  petal width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [11]:
type(data1['sepal length'].loc[0])

numpy.float64

In [12]:
data.iloc[3:6, 4:8]

    pat price rain  res
3  Full     $   No   No
4  Full   $$$   No  Yes
5  Some    $$  Yes  Yes